{% load static %}
<footer class="site-footer">
    <div class="footer-container">
        <div class="footer-left">
            <h2 class="footer-name-color">astonecorner</h2>
            <ul>
                <li>cornerastone@gmail.com</li>
                <li>+260 766 429 057</li>
            </ul>
        </div>
        <div class="footer-center">
            <p>Information</p>
            <ul>
                <li>+260 766 429 057</li>
                <li>+260 773 899 393</li>
                <li>Zambia.</li>
            </ul>
        </div>
        <div class="footer-right">
            <p>Help</p>
            <ul>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'about' %}">Mission</a></li>
            </ul>
        </div>
    </div>

    <!-- Bottom copyright line -->
    <div class="footer-bottom">
        2025 astonecorner. All rights reserved.
    </div>
</footer>
